/* Different */
* {
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 0);
}
.List_Back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Background {
  background-color: rgb(46, 46, 247);
  height: 70%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Img_Background__Mateus {
  position: absolute;
  width: calc(100% - 50%);
  height: 100%;
}
.Background__Tools {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.Img_Background_Tools__Mateus {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 20%;
}

/* Article */
article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.Article_container {
  background: rgba(0, 0, 0, 0.405);
  backdrop-filter: blur(15px);
  -webkit-box-shadow: -5px -5px 24px -5px rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: -5px -5px 24px -5px rgba(255, 255, 255, 0.6) inset;
  box-shadow: -5px -5px 24px -5px rgba(255, 255, 255, 0.6) inset;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
}
.Article_container__List {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Text__Mateus */
.Article_container__Text {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}
h1 {
  font-size: 2em;
  margin-left: 5px;
}
p {
  font-size: 2em;
  margin-left: 5px;
  align-self: flex-start;
}
.Article_container hr {
  width: 50%;
  height: 3px;
  background: white;
  margin-left: 5px;
  margin-bottom: 5%;
  align-self: flex-start;
}
ul {
  font-size: 1.75em;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 5%;
  align-self: center;
  overflow: visible;
}
ul li {
  margin-left: 3%;
  overflow: visible;
}
.Article_container__Text_P__2 {
  margin-top: 35%;
}
.Fixed_Lags {
  margin-top: 5%;
}

/* Logo_Mateus */
.Logo_Mateus {
  width: 230px;
  height: 120px;
}

/* Img/Mixer */
.Mixer_Concrete {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Mixer_Concrete_2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Mixer_Concrete_3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mixer_Concrete img {
  height: 70%;
  width: 70%;
  position: absolute;
  transform: translate(-35%, 0%);
}
.Mixer_Concrete_2 img {
  height: 80%;
  width: 70%;
  position: absolute;
}
.Mixer_Concrete_3 img {
  height: 90%;
  width: 70%;
  position: absolute;
  transform: translate(35%, 0%);
}
.Article_container__Img_Mixer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.Article_container__List_Img_Mixer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  body,
  html {
    background-size: inherit;
  }
  article {
    flex-direction: column;
  }
  .Article_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: auto;
  }

  .Article_container br {
    display: none;
  }
  .Article_container__Text_P__2 {
    margin-top: 0;
  }
  .Article_container p {
    align-self: normal;
  }
  .Article_container hr {
    margin: 0 auto;
  }
  h1 {
    font-size: 1.8em;
  }
  .Img_Background__Mateus {
    width: calc(50% + 50%);
  }
  .Mixer_Concrete img {
    height: 30%;
  }
  .Mixer_Concrete_2 img {
    height: 40%;
  }
  .Mixer_Concrete_3 img {
    height: 50%;
  }
  .Img_Background_Tools__Mateus {
    display: none;
  }
  @media screen and (max-height: 750px) {
    .Article_container {
      font-size: 0.5em;
    }
    .Article_container ul {
      margin-top: 1%;
    }
    .Article_container hr {
      width: 30%;
      height: 0.5px;
    }
    .Fixed_Lags {
      margin-top: 0%;
    }
  }
  @media screen and (max-height: 450px) {
    .Article_container {
      font-size: 0.3em;
    }
    .Logo_Mateus {
      width: 150px;
      height: 70px;
    }
    .Article_container ul {
      margin-top: 1%;
    }
    .Article_container hr {
      width: 30%;
      height: 0.1px;
    }
  }
  @media screen and (max-height: 230px) {
    .Article_container {
      font-size: 0.1em;
    }
    .Mixer_Concrete img {
      height: 20%;
    }
    .Mixer_Concrete_2 img {
      height: 30%;
    }
    .Mixer_Concrete_3 img {
      height: 40%;
    }
    .Img_Background_Tools__Mateus {
      display: none;
    }
  }
  @media screen and (max-width: 150px) {
    * {
      display: none;
    }
  }
}
